.accordion{
    background-color: var(--lightGrey);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.accordion-item{
    color: black;
    padding: 20px;
    display: inline-block;
}