.accordion-item{
    font-size:18px;
    padding:15px;
    display:inline-block;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.accordion-item:hover{
    border-bottom: 3px solid black;
}