.confirmation{
    width: 1000px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.confirmation-body{
    margin-top: 50px;
    margin-bottom: 50px;

}
.confirmation .detail{
    font-size: 18px;
    font-weight: 600;
    vertical-align: top;
}
.confirmation .value{
    font-size: 18px;
}
.confirmation-btn{
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
}
.payment-body{
    margin-top: 50px;
}
.confirmation-img{
    width: 100px;
    height: 100px;
    padding: 6px;
    box-shadow: inset 0 0 4px 2px #f3f3f3;
}