.formbox{
    /*padding: 20px;*/
    background-color: white;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    height: 100%;
}
.form-title{
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
}
.form-top{
    height: 70px;
    padding: 22px;
    border-bottom: 2px solid #70707021;
}
.form-body{
    padding: 20px;
}
.top-btn{
    float: right;
    margin-top: -10px;
}
