.header{
    height: 70px;
    background-color: rgb(6, 22, 58);
    position: absolute;
    width: 100%;
}
.transparent{
    background-color: transparent;
}

.header-title{
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 20px;
    display: inline-block;
    font-family: sans-serif;
    position: absolute;
}

.header-links{
    margin-left: 140px;
    display: inline-block;
}
.login-links{
    float: right;
    padding: 23px 10px;
}
.header-links li{
    display: inline-block;
    padding: 23px 0px;
}